@use 'reset';

*{
    @include reset.formateo-estilos;
}

$color-text: white;
$background-color: #3f3f3f;

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $background-color;
}

.container{
    width: 35%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    padding:20px;
    box-shadow: 5px 5px 5px 0 rgb(32, 33, 36,1),
    -1px -1px 3px 0 rgb(32, 33, 36,1) ;
    border-radius: 20px;
    color: $color-text;

    .color-hex{
        font-weight:600;
        font-size: 30px;
        box-shadow: 5px 5px 5px 0 rgb(32, 33, 36,1),
        -1px -1px 3px 0 rgb(32, 33, 36,1) ;
        border-radius: 10px;
        padding:10px;
    }

    .botones button{
        background-color:rgba(255, 255, 255, 0.096);
        padding:9px;
        color:$color-text;
        border-radius: 10px;
        border: 0;
        box-shadow: 5px 5px 5px 0 rgb(32, 33, 36,1),
    -1px -1px 3px 0 rgb(32, 33, 36,1) ;
    font-size: 18px;
    margin:5px;
    cursor:pointer;
    }
}

